@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        <input id = "btnStart" type="submit" value="Start drawing"/>
        <input id = "btnReset" type="submit" value="Reset"/>
    </h2>
    <div id="container" class="canvas-container">

    </div>
</div>
